<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>
    <script src="https://giscus.app/client.js"
            data-repo="standzhou2/daily-log"
            data-repo-id="R_kgDOPJi0HA"
            data-category="General"
            data-category-id="DIC_kwDOPJi0HM4C1pgh"
            data-mapping="pathname"
            data-strict="0"
            data-reactions-enabled="1"
            data-emit-metadata="0"
            data-input-position="bottom"
            data-theme="preferred_color_scheme"
            data-lang="zh-CN"
            data-loading="lazy"
            crossorigin="anonymous"
            async>
    </script>
    {%- include footer.html -%}

  </body>

</html>
