<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ site.title }}</title>
</head>
<body>
  <h1>{{ page.title }}</h1>
  <ul>
    {% for post in site.posts %}
      <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
  {{ content }}
</body>
<script src="https://giscus.app/client.js"
        data-repo="standzhou2/daily-log"
        data-repo-id="R_kgDOPJi0HA"
        data-category="General"
        data-category-id="DIC_kwDOPJi0HM4C1pgh"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="zh-CN"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
</html>
